.button_like {
    width: 21px;
    height: 19px;

    background-image: url("../../../images/icon-heart.svg");
    background-position: center center;
    background-repeat: no-repeat;

    border: 0;
    background-color: var(--color-content-text);
    outline: none;
}


.button_like:hover {

    opacity: .6;
    cursor: pointer;

}
