
.cards {

    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    align-content: center;
    justify-content: center;

    column-gap: 18px;
    row-gap: 21px;
    list-style: none;
    margin: 47px auto 66px auto;
    padding: 0;
    line-height: 0;


}


@media screen and (max-width: 650px) {
    .cards {
        margin: 36px auto 48px auto;

    }

}
