.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 36px 0 0 0;

}

@media screen and (max-width: 882px) {

    .profile {
        padding: 36px 27px 0 27px;
    }

}


@media screen and (max-width: 650px) {

    .profile {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding: 38px 27px 0 27px;


    }

}
