.profile__job {

    font-family: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: var(--color-content-text);
    margin: 0;
    padding: 0;

}


@media screen and (max-width: 650px) {
    .profile__job {
        text-align: center;
        margin-bottom: 36px;

    }

}
